@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B201210597</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB_PROJE.styles.css" asp-append-version="true" />
    <style>
        body {
            background-color: #111; /* Black background */
            color: #FFF; /* White text */
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .btn {
            background-color: #FFD700; /* Gold background */
            color: #111; /* Black text */
            border: none;
            font-size: 16px;
            margin: 5px;
            padding: 10px 20px;
            border-radius: 5px;
        }

            .btn:hover {
                background-color: #e6b800; /* Slightly darker gold */
                color: #FFF; /* White text */
            }

        .container-fluid {
            padding: 0;
        }

        .content-center {
            text-align: center;
            margin-top: 20px; /* Add spacing between image and buttons */
        }

        img {
            border-radius: 10px;
        }
    </style>
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-gold border-bottom box-shadow mb-3">
        <div class="container-fluid text-center">
            <h1 class="mx-auto" style="color:  #e6b800;">ADMIN</h1>
        </div>
        <a href="cikis" class="btn btn-primary" style="color:  #e6b800;">ÇIKIŞ</a>
    </nav>
</header>

<div class="container-fluid mt-5 vw-100">
    <div class="row content-center">
        <div class="col-md-6 mx-auto">
            <div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
                <img src="/test.jpg" class="img-fluid" alt="Image" style="width: 500px; height: auto;">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid content-center text-center">
    <div class="row" style="margin-top: 50px;">
        <!-- Added margin-top for spacing -->
        <div class="col-md-12">
            <a href="/Admin/koafor" class="btn">Koafor</a>
            <a href="/Kullanici/Index" class="btn">Kullanici</a>
            @* <a href="/CallDepartmenAPI/Index" class="btn">Departman</a> *@
            <a href="/Randevu/Randevu" class="btn">Randevu</a>
            <a href="/Klinik/Index" class="btn">Şube</a>
        </div>
    </div>
</div>
