@model B201210597.Models.DTO.LoginModel

<style>
    body {
        font-size: 18px; /* Adjust the base font size */
        background-color: #111; /* Black background */
        color: #FFD700; /* Gold text */
    }

    .container {
        margin-top: 30px; /* Adjust the top margin for containers */
    }

    label.font-weight-bold {
        font-size: 1.5em; /* Adjust the font size for bold labels */
        color: #FFF; /* White text */
    }

    input.form-control {
        font-size: 1.2em; /* Adjust the font size for form controls */
        background-color: #333; /* Dark input background */
        color: #FFF; /* White text */
        border: 1px solid #FFD700; /* Gold border */
    }

    button.btn {
        font-size: 1.2em; /* Adjust the font size for buttons */
        background-color: #FFD700; /* Gold background */
        color: #111; /* Black text */
        border: none;
    }

    a.btn {
        font-size: 1.2em; /* Adjust the font size for anchor buttons */
        background-color: #FFD700; /* Gold background */
        color: #111; /* Black text */
        border: none;
    }

    img {
        border: 2px solid #FFD700; /* Gold border for image */
        border-radius: 10px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="/im.jpg" class="img-fluid" alt="Barber Shop Image">
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Username" class="font-weight-bold">KULLANICI ADI</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="font-weight-bold">ŞİFRENİZ</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-light">Giriş Yap</button>
                    <a href="/UserAuthentication/Registration" class="btn btn-light">Üye Ol</a>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
