﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B201210597</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB_PROJE.styles.css" asp-append-version="true" />


</head>
 <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
              <a class="nav-link dropdown-toggle btn btn-link" href="#" style="width: 10%; id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        DİL SEÇ
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

         @if(User.IsInRole("user"))
            {
                <li><a class="dropdown-item" href="/KontrolPaneliDenetleyici/Display1">İNGLİZCE</a></li>
            }else{

            <li><a class="dropdown-item" href="/UserAuthentication/Login1">İNGLİZCE</a></li>
            }
     
    </ul>
            <div class="container-fluid text-center">
            <h1 class="mx-auto" style="color: goldenrod;">berber randevu rezervasyon sistemi</h1>
           
            </div>
            @if(User.IsInRole("user"))
            {
            <div>
                <a class="btn btn-light" style="color: black;" href="/UserAuthentication/Logout">ÇIKIŞ</a>
            </div>
            }
<style>

   
</style>

       
        </nav>
</header>


<body>

    <div class="custom-background">

    <div class="container">
        <main role="main" class="pb-3">

                <a href="/RandevuAl/Index" class="btn btn-light">Randevu Al</a>
                <a href="/Test/Index" class="btn btn-light"  >İletişim Sayfa</a>

        
@RenderBody()

    </div>
  
    
    </main>
    </div>
    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    </div>

</body>



</html>

