@{
    string username = User.Identity.Name;
}
<style>body {
 background:black; 

}
footer {
        background: #FFD700;
}
</style>
<div style="text-align:center; margin-top: 50px;">
    <img src="/test2.jpg" alt="User Image" style="width: 450px; height: auto; border-radius: 10%; border: 2px solid #FFD700;" />
    <h1 style="font-family: Arial, sans-serif; color: #FFD700; margin-top: 20px;">Merhaba</h1>
    <p style="font-size: 1.5em; font-weight: bold; color:  #FFD700;">@username</p>
</div>


